.card {
    display: flex;
    /* align-items: left;
    justify-content: left; */
    gap: 30px;
  }
  
  .stats-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 200px;
    height: 130px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow:
      20px 20px 60px #e6e6e6,
      -20px -20px 60px #f3f3f3;
  }

  .heading {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .bottom-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bottom-wrapper .star {
    width: 50px;
    fill: gold;
  }
  .bottom-wrapper .tag {
    width: 37px;
    fill: rgb(141, 214, 32);
  }
  .bottom-wrapper .thumb {
    width: 40px;
    fill: blueviolet;
  }
  .bottom-wrapper p {
    font-size: 1.5em;
    font-weight: 700;
  }
  